*.sra
.ipynb_checkpoints
*.fna
# added after the initial commit with the main data
data 

# too big for an upload + intermediate
analyses/kraken2/all/*kraken2.out 
analyses/kraken2/kraken2.out

# those seems to be a mistake from the nf-training
nf-training
scripts/work
scripts/.next*
